<!--
  Generated template for the FavoritenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Favoriten</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let tour of favService.touren" (click)="showDetails(tour)">{{tour.Titel}}</button>
  </ion-list>
  <label *ngIf="favService.keineFavoriten">
    Du hast noch keine Favoriten hinzugefügt!
  </label>
</ion-content>
